.accordion-container {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    width: 250px;
}


input[type=checkbox] ~ div {
height: 0px;
transition: height 2s;
} 
input[type=checkbox]:checked ~ div {
height: 50px;
transition-timing-function: linear;
} 